#root {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

input,
button {
  margin-top: 10px;
  padding: 5px;
  border: 0;
  background: transparent;
  transition: 0.5s all;
}

input:hover,
button:hover {
  cursor: pointer;
  color: white;
  background: gray;
  padding: 7px;
}

#login_error,
#register_error {
  opacity: 0;
  padding: 10px;
  color: white;
  background: #ff4848;
}
